<p style="color: green"><%= notice %></p>

<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Kevin Cardenas</h1>
  <p>Here is a portfolio containing some of my best projects!</p> 
</div>

<div class="container mt-5">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-sm-6">
        <%= auto_link(project.description) %>
        <p>
          <%= link_to "Show this project", project %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<!--
<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <% if user_signed_in? %> 
        <%= link_to "Show this project", project %>
      <% end %>
    </p>
  <% end %>
</div>
-->

<% if user_signed_in? %>
  <%= link_to "New project", new_project_path %>
<% end %>